body {
  font-family: 'Geist', sans-serif;
  padding: 0;
  margin: 0;
}

.container{
    display: flex;
    padding: 20px 40px;
    gap: 40px;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 50px;
}

.logo{
    font-size: 25px;
    font-weight: 500;
}

.navElements{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 5px;
}

.navElements div{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.navElements div:last-child{
    margin-top: 400px;
    color: gray;
}

.navElements span {
    padding: 2px;
    margin-top: 2px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.dashboardNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardNav span{
    font-size: 20px;
    font-weight: 600;
}

.dashboardNav button{
    background-color: black;
    padding: 12px 25px;
    color: white;
    border-radius: 20px;
    border: 0;
}

.dashboardNav button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.838);
}

.dashboardStats{
    display: flex;
    gap: 35px;
}

.statsComp {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: black;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    width: 250px;
}

.statsValue{
    font-size: 32px;
    font-weight: 600;
}

.statsComp span:first-child{
    color: gray;
}

.recentTransactions{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.recentTransactions span:first-child{
    font-size: 16px;
}

.rtComp{
    height: 100px;
    width: 800px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 5px 20px;
}

.rtCategory{
    background-color: lightgray;
    border-radius: 100%;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rtCompPart2{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rtCompPrice{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rtCompPrice span:first-child{
    font-size: 35px;
    font-weight: 600;
}

.rtCompPrice span:last-child{
    color: gray;
}

.rtCompButtons{
    display: flex;
    gap: 20px;
}

.rtCompButtons button{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    width: 100px;
}

.rtCompButtons button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.838);
}